<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/music/<%= song.id %>"><% song.song_title %><small>(by: <%= song.author %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
  <a href="/music/new">Post a song... It's FREE (for now)!</a>

<% end %>