<form action='signup' method='POST'>
  <label>email:</label>
  <input name='email'>

  <label>password:</label>
  <input name='password'>

  <label>password confirmation:</label>
  <input name='password_confirmation'>

  <input type='submit'>
</form>